<div class="sidebar">
    <div class="hamburger" @onclick="ToggleSidebar">
        <i class="fa fa-bars"></i>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-item">
            <img src="img1.png" alt="Immagine 1">
            <p class="sidebar-desc" style="display:@(showDesc ? "block" : "none")">Descrizione 1</p>
        </div>
        <div class="sidebar-item">
            <img src="img2.png" alt="Immagine 2">
            <p class="sidebar-desc" style="display:@(showDesc ? "block" : "none")">Descrizione 2</p>
        </div>
        <div class="sidebar-item">
            <img src="img3.png" alt="Immagine 3">
            <p class="sidebar-desc" style="display:@(showDesc ? "block" : "none")">Descrizione 3</p>
        </div>
    </div>
</div>




@code {
    private bool showDesc = false;

    private void ToggleSidebar()
    {
        showDesc = !showDesc;
    }
}
